<p-orderList [value]="orderedList" (onSelectionChange)="onSelectionChange()" [(selection)]="selectionArr" filterBy="name"
[responsive]="true" header="My Favorite Places">
  <ng-template let-location pTemplate="item">
    <div class="ui-helper-clearfix ui-g">
        <div class="ui-g-7" style="font-size:14px;float:right;margin:10px 1px 0 0">
            <button
              type="button"
              pButton
              icon="pi pi-minus-circle"
              (click)="removeFromFavorites(location)"
              class="ui-button-raised ui-button-rounded ui-button-danger"
            ></button>
            <button
            type="button"
            pButton
            icon="pi pi-map-marker"
            (click)="selectedLocation = location;visibleSidebar2 = true"
            class="ui-button-raised ui-button-rounded ui-button-success"
          ></button>

      </div>
      <div  class="ui-g-3">
          {{ location.name }}
        </div>

      </div>
  </ng-template>
</p-orderList>

<p-sidebar [(visible)]="selectedLocation&&visibleSidebar2" position="right" [baseZIndex]="10000" [fullScreen]="true">
  <h1 style="font-weight:normal;text-align: center" *ngIf="selectedLocation">{{selectedLocation.name}}</h1>
    <app-osm-map *ngIf="selectedLocation" [latitude]="selectedLocation.coord.lat"  [longitude]="selectedLocation.coord.lon"></app-osm-map>
    </p-sidebar>
    <!-- <button pButton type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></button> -->
